*{
	margin: 0;
	color: #fff;
}

*::-webkit-scrollbar{
	width: 4px;
	background: black;
}

*::-webkit-scrollbar-thumb{
	background: #0d4453;
	border-radius: 5px;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'M PLUS 2', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-family: 'Shippori Antique', sans-serif;
	background:#1d1c1c;
}

img{
	width: 100%;
}

header{
	user-select: none;
	height: 60px;
	background: #3700ff00;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

label{
	cursor: pointer;
}

input{
	display: none;
}

aside{
	border-radius: 10px;
	box-shadow: -4px 6px 13px 2px #000;
	height: auto;
	font-size: 15px;
	background: #2F2B3F;
	width: 90vw;
	margin: 30px auto;
}

aside h1, h2, h3, p, img{
	padding: 10px;
}

aside .img{
	border-radius: 30px;
	margin: auto;
	width:80% ;
	height: auto;
}

aside img{
	border-radius: 30px;
}

nav ul li{
	padding: 0.5em;
	border: 5px #000;
	border-radius:35px;
	transition: 0.4s all ;
}

nav ul li:hover{
	background: rgba(0, 0, 0, 0.704);
	cursor: pointer;
}

.background{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    background:linear-gradient(rgb(87 23 196 / 38%) 0%, rgb(0 41 246 / 42%) 100%), url(IMG/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

svg{
	position: absolute;
	bottom: -1;
}

.background h1{
	font-size: 4em;
	text-align: center;
}

.label-div{
	display: none;
}

.div-header a {
	text-decoration: none;
}

.input-li:checked + .ul-2{
	display: flex;
	flex-direction: column ;
	position: absolute;
	background: #3700ff00;
	list-style: none;
}

.input-li1:checked + .ul-3{
	display: flex;
	flex-direction: column ;
	position: absolute;
	background: #3700ff00;
	list-style: none;
}

.h1-header{
	margin-left: 10px;
}

.ul-1{
	list-style: none;
	font-size: 20px;
	margin-right: 50px;
	display: flex;
	gap: 20px;
}

.ul-1 a{
	position: relative;
	color: #fff;
	text-decoration: none;
}

.ul-2{
	display: none;
	top: 59px;
	padding: 5px;
}

.ul-3{
	display: none;
	top: 59px;
	padding: 5px;
} 		

.asides{
	height: 100vh;
}


.typeram{
	display: flex;
}

.img-aside{
	padding: 10px;
	width:300px;
	height: 300px;
}

.text-aside li{
	margin: 20px 0;
}

.text-aside1 li{
	margin: 10px;
}

.backgroundCpuPurple{
	background: #725ec1;
}

.backgroundGpuRed{
	background: #bf0000;
}
.backgroundSoGreen{
	background: #0fff97fa;
}

.backgroundCiberseguridadOrange{
	background: #f76108;
}


.backgroundSoGreen h1,.backgroundSoGreen li,.backgroundSoGreen p{
	color: #000;
}

.flex{
	display: flex;
	flex-direction: row-reverse;
}

.so li{
	list-style: decimal;
}

@media screen and (max-width: 774px){
	.div-header{
		display: none;
	}	

	.label-div{
		display: flex;
		margin-left: 10px;
	}

	.nav-header{
		clip-path: polygon(100% 0, 100% 0%, 100% 0, 100% 0);
		transition: .5s ease all;
	}

	.input-div:checked + .nav-header{
		display: flex;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
		position: fixed;
		top: 60;
		background: #3600ffb6;
		width: 100vw;
		height: auto;
	}

	

	.input-li:checked + .ul-2{
		background: none;
		position: relative;
		top: 0;
		gap: 2px;
	}

	.input-li1:checked + .ul-3{
		background: none;
		position: relative;
		top: 0;
		gap: 2px;
	}
 
	.ul-1{
		display: flex;
		flex-direction: column;
		margin-left: 2%;
	}

	.background h1{
		font-size: 2em;
		text-align: center;
	}

	.typeram{
		flex-direction: column;
	}

	.img-aside{
		width: 90%;
		height: unset;
	}

	.flex{
		flex-direction: column;
	}
}

